@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&amp;display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
body{
    background: none !important;
}
.Heading{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Heebo', sans-serif !important;
}
.Heading h1{
    font-size: 55px;
    letter-spacing: .5px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 20px;
}
.Heading h4{
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 20px;
}

.Heading h5{
    margin-top: 35px;
}


/* ========================  BOUNCE ICON  ============================ */

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    /* colr:000; */
  }
  .fa-twitter{
      color: #027bdd;
    font-size: 30px;
    margin: 20px;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }

  /*  ========== BUTTON BACKICON =================== */


  .back {
    display: inline-block;
    position: relative;
    -moz-animation: back 0.5s infinite linear;
    -o-animation: back 0.5s infinite linear;
    -webkit-animation: back 0.5s infinite linear;
    animation: back 0.5s infinite linear;
    /* colr:000; */
  }
  .fa-twitter{
      color: #027bdd;
    font-size: 30px;
    margin: 20px;
  }
  @-webkit-keyframes back {
      0% { left: 0; }
      50% { left: -0.2em; }
      70% { left: -0.3em; }
      100% { left: 0; }
  }
  @-moz-keyframes back {
      0% { left: 0; }
      50% { left: -0.2em; }
      70% { left: -0.3em; }
      100% { left: 0; }
  }
  @-o-keyframes back {
      0% { left: 0; }
      50% { left: -0.2em; }
      70% { left: -0.3em; }
      100% { left: 0; }
  }
  @-ms-keyframes back {
      0% { left: 0; }
      50% { left: -0.2em; }
      70% { left: -0.3em; }
      100% { left: 0; }
  }
  @keyframes back {
      0% { left: 0; }
      50% { left: -0.2em; }
      70% { left: -0.3em; }
      100% { left: 0; }
  }





  /* ============  BUTTON Shaining  ========  */


  
.btnn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    margin: auto;
    /* font-size: 30px; */
    display: block;
    position: relative;
    bottom: 0px;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .btnn:hover {
    color: white !important;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .btnn:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
  }
  .btnn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  .btnn:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @-webkit-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  @-moz-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  @keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  